@model FPTBook.Models.Book
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Book</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Category)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Category)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Price)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Author)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Author)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Picture)</dt>
        <dd class="col-sm-10"><img src="~/images/@Html.DisplayFor(model => model.Picture)" height="200" width="120"/></dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" >Back to Owner Page</a>
    </form>
</div>